<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button mat-fab (click)="launchWindow()" matTooltip="Agens Homepage" matTooltipPosition="below">
    <mat-icon>home</mat-icon></button>
  <button mat-fab color="primary" (click)="openDialogRegister()" matTooltip="Register server" matTooltipPosition="below">
    <mat-icon>add</mat-icon></button>
  <button mat-fab color="#03DAC5" (click)="reloadList()" matTooltip="Reload list" matTooltipPosition="below">
    <mat-icon>autorenew</mat-icon></button>
</div>
<div><hr /></div>
<div class="progress-wrapper" *ngIf="state == 'loading'">
  <round-progress [max]="timer_max" [current]="timer_curr" [radius]="100" [stroke]="25"></round-progress>
</div>
<ul *ngIf="state != 'loading'">
  <li *ngFor="let item of servers; let i = index">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar [ngClass]="{ 'server-image-off': item['state']=='off', 'server-image-normal': item['state']=='normal', 'server-image-error': item['state']=='error' }"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.url }}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="item['state']=='normal'" mat-card-image src="assets/images/graph_sample.png" alt="meta-graph">
      <img *ngIf="item['state']!='normal'" mat-card-image src="assets/images/service_not_available.jpg" alt="service not available">
      <mat-card-content>
        <p>
          <span *ngIf="item['state']=='normal'">{{ parseJdbcUrl(item['datasource']) }}</span><br>
          <span *ngIf="item['state']=='normal'">{{ item['datasource']['desc'] }}</span><br>
          <span *ngIf="item['message']">{{ item['message'] }}</span><br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="connectItem(item)">Connect</button>
        <button mat-button (click)="openDialogDelete(item)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>

