<h1 mat-dialog-title>Register server</h1>
<div mat-dialog-content>
  <p>Type name and url of new server.</p>
  <mat-form-field>
    <input matInput placeholder="server name" [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="server url" [(ngModel)]="data.url" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Register</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>